<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>

<body>
  <h1><%= title %></h1>
  <div>
    <form class="" action="/" method="GET">
      <div class="input-field col s6">
        <input placeholder="Anagrams" type="text" name="words" value="<%-word %>">
      </div>
      <button class="btn waves-effect waves-light" type="submit">Submit
        </button>
    </form>
  </div>
  <br>
  <div>
    <table class="striped">
      <thead>
        <tr>
          <th>Result</th>
        </tr>
      </thead>

      <tbody>
        <% results.forEach(result=>{ %>
          <tr>
            <td>
              <%- result.word %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</body>

</html>
